---
title: Contact
---

<h1>Team and contact info</h1>
<div class="text-center">
  <ul class="list-inline">
    <li>
      <%= image_tag "https://placeholdit.imgix.net/~text?txtsize=19&txt=200×200&w=200&h=200", class: "img-circle" %>
      <p>Team member 1</p>
    </li>
    <li>
      <%= image_tag "https://placeholdit.imgix.net/~text?txtsize=19&txt=200×200&w=200&h=200", class: "img-circle"%>
      <p>Team member 1</p>
    </li>
    <li>
      <%= image_tag "https://placeholdit.imgix.net/~text?txtsize=19&txt=200×200&w=200&h=200", class: "img-circle"%>
      <p>Team member 1</p>
    </li>
  </ul>
</div>
